* {
	overflow: hidden;
}
.App {
	text-align: center;
	width: 100vmin;
	height: 100vmin;
	background-color: lightgrey;
	bottom: 0vw;
	left: 0vw;
	position: absolute;

	.dot {
		position: absolute;
		border-radius: 50%;
	}
}
