* {
	overflow: hidden;
}
.App {
	text-align: center;
	width: 100vw;
	height: 100vh;
	background-color: lightgrey;
	bottom: 0vh;
	left: 0vw;

	.dot {
		position: absolute;
		height: 1vh;
		width: 1vh;
		border-radius: 50%;
	}
}
